{% extends 'AppEntrega1/padre.html' %}
{% load static %}
{% block titulo %}
<h1 class="mb-5">EDITAR USUARIO: {{ usuario }}</h1>
{% endblock %}

{% block que_cambia %} 
<body>
    <form action="{% url 'editUser' %}" method="POST">{% csrf_token %}
    
        <table>
            {{ formulario.as_table }}
        </table>
        
        <input type='submit' value="Enviar">
    </form>
    <!--le dejo el  {{ mensaje }} por si me sirve en algun momento.-->
    <h1>{{ mensaje }}</h1>
    
    <a  class="btn btn-danger" href="{% url 'deleteUser' usuario %}">ELIMINAR MI USUARIO</a> 
</body>

{% endblock %}