{% extends 'AppEntrega1/padre.html' %}
{% load static %}
{% block titulo %}
<h1 class="mb-5">EDITAR PERFIIL: {{ usuario }}</h1>
{% endblock %}

{% block que_cambia %} 
<body>
    {% if formulario.errors %}
    <p style="color:red"> HAY ALGO MAL EN EL FOMULARIO </p>
    {% endif %}   
    <form action="{% url 'editarPerfil' %}" method="POST">{% csrf_token %}
    
        <table>
            {{ formulario.as_table }}
        </table>
        
        <input type='submit' value="Enviar">
            <!--COMO METO ACA EL UsuarioForm-->
    </form>
    <!--CFALTA {{ mensaje }} -->
    <h1>{{ mensaje }}</h1>
    <!--ESTe boton rompe?/...-->
    <a  class="btn btn-danger" href="{% url 'eliminarUsuario' usuario %}">ELIMINAR MI USUARIO</a> 
</body>

{% endblock %}