{% extends 'AppEntrega1/padre.html' %}
{% load static %}
{% block titulo %}
<h1 class="mb-5">TU USUARIO: {{ usuario }}</h1>
{% endblock %}

{% block que_cambia %} 
<body>
    <!--VERSION SIMPLIFICADA:
        <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ perfil_form.as_p }}
        <button type="submit">ACTUALIZAR PERFIL</button>-->
      </form>
    <form action="{% url 'update_perfil' %}" method="POST">{% csrf_token %}
    
        <table>
            
            {{ user_form.as_table }}
            {{ perfil_form.as_table }}
        </table>
        
        <input type='submit' value="ACTUALIZAR PERFIL">
    </form>
    <!--le dejo el  {{ mensaje }} por si me sirve en algun momento.-->
    <h1>{{ mensaje }}</h1>
    
    <a  class="btn btn-danger" href="{% url 'deleteUser' user %}">ELIMINAR MI USUARIO</a> 
</body>

{% endblock %}